@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
.bell-icon {
  max-width: 100%;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
}
.icon-wrapper:hover .bell-icon {
  animation: shake 1s forwards;
}
.icon-wrapper::after {
  content: attr(data-number);
  width: 20px;
  height: 20px;
  background-color: #d32b2b;
  color: #fff;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0;
  transform: translateY(3px);
}
.icon-wrapper:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s;
  transform: 0.25s;
}

body.open-menu {
  overflow: hidden;
}
body.open-menu header .menu-mobile {
  right: 0;
}
body.open-menu header .overlay {
  display: flex;
}
body main header button {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 6px;
  background-color: unset;
  background-color: none;
  justify-content: center;
  align-items: center;
}
body main header.header-top-site {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  color: #fff;
  position: fixed;
  z-index: 10;
  transition-duration: 0.5s;
  background: linear-gradient(rgba(188, 107, 242, 0), rgba(188, 107, 242, 0));
}
body main header.header-top-site.scroll {
  top: -80px;
  transform: translateY(80px);
  transition-duration: 0.5s;
  background: #9c44d7;
}
body main header > div#container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body main header > div#container > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
body main header > div#container > div > p {
  margin: 0 0 0 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  color: #9c44d7;
}
body main header .overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5647058824);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  overflow: hidden;
}
body main header .menu-mobile {
  width: 242px;
  height: 100vh;
  background-color: #6e3a91;
  position: fixed;
  right: -242px;
  top: 0;
  z-index: 15;
  padding: 10%;
  flex-direction: row-reverse;
  transition: all ease 0.8s;
}
body main header .menu-mobile ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main header .menu-mobile ul li {
  margin-top: 20px;
}
body main header .menu-mobile ul li a {
  color: #fff;
  font-size: 18px;
}
body main .show-mobile {
  display: flex;
}

main section#hero {
  width: 100%;
  padding-top: 80px;
  top: 0;
}
main section#hero div.banner > picture img:hover {
  transform: scale(1.04);
}

main #hero p,
main #hero h1 {
  color: #fff;
}

main #hero h2 {
  color: #7a459d;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  padding-left: 6%;
  margin-bottom: 10px;
}

main #hero h1 {
  font-size: 3.5em;
  font-family: "Epilogue-Bold";
  font-weight: 900;
  margin: 0;
}

main #hero p {
  letter-spacing: 1px;
  line-height: 2em;
}

main #hero {
  padding: 90px 5% 5% 5%;
}

main #hero .button-group {
  display: flex;
  justify-content: center;
  padding: 2%;
}

/* pseudo seletor. : significa um seletor condicional */
main #hero .button-group button {
  background-color: #9c44d7;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 800;
  padding: 1em 2em;
  color: #fff;
  border-radius: 8px;
}
main #hero .button-group button:hover {
  cursor: pointer;
}

main #hero .modern-studio .modern-studio-star {
  position: absolute;
}

section div.banner > picture img {
  cursor: pointer;
  width: 200px;
  height: 100%;
  border-radius: 8%;
  padding: 0.4em;
}

#carousel {
  display: flex;
  overflow-x: auto;
  margin: 0 auto 0 auto;
  width: 80vw;
  height: fit-content;
  align-items: center;
}

section#humor {
  display: grid;
  grid-template-columns: 236px;
  margin-left: 2.5em;
  margin-bottom: 1.5em;
}
section#humor img {
  background-color: #fff;
  border-radius: 100%;
}
section#humor h2 {
  color: #9c44d7;
  margin: 0 4px 0.6em 4px;
}
section#humor button {
  padding: 2em;
  opacity: 0.72;
  border-radius: 50%;
}

.music-type {
  height: 232px;
  width: 232px;
  background-image: url("../images/coqueiro.png");
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-type button:hover {
  cursor: pointer;
}

.music-type2 {
  height: 232px;
  width: 232px;
  background-image: url("../images/treino.png");
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-type2 button:hover {
  cursor: pointer;
}

.music-type3 {
  display: none;
}

.music-type4 {
  display: none;
}

.music-type5 {
  display: none;
}

.music-type6 {
  display: none;
}

section#mix-card {
  margin-top: -5%;
  padding: 5%;
}

section#mix-card a > h2 {
  color: #206240;
  padding: 10px 0;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: center;
}

section#mix-card ul li img {
  width: 200px;
  height: 100%;
  border-radius: 10px;
  opacity: 0.6;
}

section#mix-card ul li > div {
  padding: 10px;
  border: solid #BC6BF2 1px;
  border-radius: 0.4em;
}

#carousel-2 {
  display: flex;
  overflow-x: auto;
  margin-left: 6%;
  align-items: center;
  margin-right: 6%;
}

section#mix-card > h2 {
  color: #9c44d7;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 4px 2% 4px 6%;
  letter-spacing: 2px;
}

section#mix-card li {
  margin-bottom: 1em;
}

section#mix-card li + li {
  margin-left: 10px;
}

section#new {
  margin-top: -5%;
  padding: 5%;
}

#incorporation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

section#new > h2 {
  margin-left: 6%;
  color: #206240;
}

section#new > h3 {
  margin-left: 6%;
  color: #525252;
}

section#new p {
  margin-left: 6%;
  color: #206240;
}

section#new div#grid-eletro {
  margin-left: 6%;
  display: grid;
  grid-template-columns: repeat(2, 138px);
}
section#new div#grid-eletro a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
section#new div#grid-eletro img {
  height: 125px;
  border-radius: 6px;
}
section#new div#grid-eletro img:hover {
  transform: scale(1.04);
}

section#today > h2 {
  margin-left: 6%;
  color: #9c44d7;
}

section#today {
  margin-top: -5%;
  padding: 5%;
  padding-bottom: 2%;
}

section#today p {
  margin-left: 6%;
  color: #201919;
}

section#today div#text {
  margin-left: 2%;
  width: 100%;
}

section#today div div h4 {
  margin: initial;
  font-weight: bold;
  font-size: 0.54em;
}

section#today div div > h3 {
  margin: initial;
  font-size: 0.8em;
  margin-top: 1%;
}

section#today #img {
  opacity: 80%;
  width: 6em;
  height: 6em;
}

section#today div#list-song {
  margin: 2% 6%;
  display: flex;
  background-color: #c46bff;
  align-items: center;
}

section#today div#list-song > div#img {
  display: flex;
}

section#today img#play {
  width: 30px;
}

section#today div#list-song div:nth-child(3) {
  width: 74%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

section#today #playAndHeart {
  display: flex;
}
section#today #playAndHeart > img {
  width: 52%;
}
section#today #playAndHeart #borderFavorite:hover {
  cursor: pointer;
}

section#rotine {
  margin-top: -5%;
  padding: 5%;
}

section#rotine > h2 {
  margin-left: 6%;
  color: #206240;
}

section#rotine p {
  margin-left: 6%;
  color: #525252;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "arial";
  min-height: 400px;
  background-color: #f4d6f5;
}

body a {
  text-decoration: none;
}

body ul li {
  list-style: none;
}

header > div#container > div > img {
  height: 48px;
  width: 48px;
}

main .show-mobile {
  display: flex;
}

main .show-desktop {
  display: none;
}

ul {
  padding: 0;
}

footer div {
  text-align: center;
  color: #525252;
}
