@import 'bell.scss';
@import 'top-site.scss';
@import 'hero.scss';
@import 'humor.scss';
@import 'mix-card.scss';
@import 'new.scss';
@import 'today.scss';
@import 'rotine.scss';


h2 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "arial";
    min-height: 400px;
    background-color: #f4d6f5;
}

body a {
    text-decoration: none;
}

body ul li {
    list-style: none;
}

header>div#container>div>img {
    height: 48px;
    width: 48px;
}

main .show-mobile {
    display: block;
}

main .show-desktop {
    display: none;
}


ul {
    padding: 0;
}



footer div {
    text-align: center;
    color: #525252;
}