@import 'load.scss';
@import 'top-site.scss';
@import 'hero.scss';
@import 'humor.scss';
@import 'mix-card.scss';
@import 'new.scss';
@import 'today.scss';

h2 {
    margin: 0;
}

@font-face {
    font-family: "Epilogue-Regular";
    src: url("../fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Epilogue-Regular";
    src: url("../fonts/epilogue/Epilogue-Black.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Epilogue-Bold";
    src: url("../fonts/epilogue/Epilogue-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Epilogue-Bold";
    src: url("../fonts/epilogue/Epilogue-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "arial";
    min-height: 400px;
    background-color: #f4d6f5;
}

body a {
    text-decoration: none;
}

body ul li {
    list-style: none;
}

header>div#container>div>img {
    height: 48px;
    width: 48px;
}

main .show-mobile {
    display: block;
}

main .show-desktop {
    display: none;
}


ul {
    padding: 0;
}

section#rotine {
    margin-top: -5%;
    padding: 5%;
}

section#rotine>h2 {
    margin-left: 6%;
    color: #206240;
}

section#rotine p {
    margin-left: 6%;
    color: #525252;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

.bell-icon {
    max-width: 100%;
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    position: relative;

    &:hover .bell-icon {
        animation: shake 1s forwards;
    }

    &::after {
        content: attr(data-number);
        width: 20px;
        height: 20px;
        background-color: #d32b2b;
        color: #fff;
        display: grid;
        place-content: center;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 0;
        opacity: 0;
        transform: translateY(3px);
    }

    &:hover::after {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .25s;
        transform: .25s;

    }
}

footer div {
    text-align: center;
    color: #525252;
}