@media (min-width: 500px) {
    section#new {
        div#grid-eletro {
            margin-left: 6%;
            display: grid;
            grid-template-columns: repeat(2, 210px);

            img {
                height: 180px;
            }
        }
    }

    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;

        img {
            background-color: #fff;
            border-radius: 100%;
        }

        h2 {
            color: #9c44d7;
            margin: 0 4px .6em 4px;
        }

        >div {
            display: grid;
            grid-template-columns: 280px;
        }
    }

    .music-type3 {
        display: none;
    }

    .music-type4 {
        display: none;
    }


}

/* Tablets e desktop antigos - chromebook */
@media (min-width: 768px) {
    section#new {
        div#grid-eletro {
            margin-left: 6%;
            display: grid;
            grid-template-columns: repeat(2, 324px);

            img {
                height: 250px;
            }
        }
    }

    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;

        img {
            background-color: #fff;
            border-radius: 100%;
        }

        h2 {
            color: #9c44d7;
            margin: 0 4px .6em 4px;
        }

        >div {
            display: grid;
            grid-template-columns: repeat(2, 308px);
        }
    }

    .music-type5 {
        height: 232px;
        width: 232px;
        background-image: url("../images/focus.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type6 {
        height: 232px;
        width: 232px;
        background-image: url("../images/love.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section div.banner>picture>img {
        cursor: pointer;
        width: 15em;
        height: 15em;
        padding: 0.2em;
        border-radius: 10%;
    }

    main #hero .button-group button {
        padding: 1.4em 4.4em;
    }
}

/* Maioria dos Desktops */
@media (min-width: 960px) {
    section#new {
        div#grid-eletro {
            margin-left: 6%;
            display: grid;
            grid-template-columns: repeat(2, 406px);

            img {
                height: 310px;
            }
        }
    }

    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;

        img {
            background-color: #fff;
            border-radius: 100%;
        }

        h2 {
            color: #9c44d7;
            margin: 0 4px .6em 4px;
        }

        >div {
            display: grid;
            grid-template-columns: repeat(3, 272px);
        }
    }

    .music-type4 {
        height: 232px;
        width: 232px;
        background-image: url("../images/focus.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type5 {
        display: none;
    }

    .music-type6 {
        display: none;
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 210px);
    }

    main header button {
        padding: 10px;
        border: initial;
        width: initial;
        cursor: pointer;
        color: #fff;
        letter-spacing: .1em;
    }

    main header button.show-desktop>img {
        width: 40px;
        height: 40px;
        margin-right: .2em;
        border-radius: 100%;
    }

    main #hero {
        padding: 5% 2% 0 2%;
    }

    main .show-mobile {
        display: none;
    }

    main .show-desktop {
        display: flex;
        align-items: center;
    }

    main header>#container nav ul {
        display: flex;
    }

    main header>#container nav ul li {
        margin-left: 30px;
    }

    main header>#container nav a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: bold;
        font-size: 1em;
    }

    main header>#container>a {
        background-color: unset;
        width: 140px;
        height: 48px;
        font-weight: 900;
        text-transform: uppercase;
        border: 1px solid #ffffff30;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main #hero .banner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5% 2%;
    }

    main #hero .button-group {
        justify-content: center;
    }

    main #hero .button-group button {
        cursor: pointer;
    }

    /* section div.banner > picture {
        display:flex;
        flex-wrap: wrap;
      }
      section div.banner > picture > img {
        cursor: pointer;
        width: 25%;
        height: 25%;
        padding: .5em;
      } */

    section div.banner picture {
        display: flex;
        flex-wrap: wrap;
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 200px;
        height: initial;
        padding: .5em;
    }

    main #hero .modern-studio {
        width: 40%;
    }

    main #hero .modern-studio h1 {
        font-size: 4em;
    }

    main #hero picture {
        width: initial;
        justify-content: center;
        align-items: center;
    }

    main #hero h2 {
        color: #BC6BF2;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 4px;
        padding: 0;
        text-align: center;
    }

    section#today div div>h3 {
        margin: initial;
        font-weight: bold;
        font-size: 1.2em;
    }

    section#today div div h4 {
        margin: initial;
        font-weight: bold;
        font-size: 0.8em;
    }

    section#today div div p {
        margin: initial;
        font-size: 1em;
        margin-top: 1%;
    }


    section#today img#play {
        width: 70px;
    }

    section#today img#play:hover {
        cursor: pointer;
    }

    footer div {
        display: initial;
    }

    footer div p {
        justify-content: center;
    }

    footer div p {
        font-weight: bold;
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;

        >div {
            display: grid;
            grid-template-columns: repeat(3, 272px);
        }
    }

    .music-type4 {
        height: 232px;
        width: 232px;
        background-image: url("../images/focus.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type5 {
        display: none;
    }

    .music-type6 {
        display: none;
    }


    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 230px);
    }

    section div.banner picture {
        display: flex;
        flex-wrap: wrap;
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 224px;
        height: initial;
        padding: .5em;
    }

    main #hero picture {
        width: initial;
        justify-content: center;
    }
}

@media(min-width: 1120px) {
    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;
    }

    .music-type5 {
        height: 232px;
        width: 232px;
        background-image: url("../images/party.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type6 {
        display: none;
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 250px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 240px;
        height: initial;
        padding: 0.5em;
    }
}

@media(min-width: 1180px) {
    section#new div#grid-eletro {
        margin-left: 6%;
        display: grid;
        grid-template-columns: repeat(4, 270px);
    }

    section#new div#grid-eletro img {
        height: 226px;
    }

    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;
    }

    .music-type5 {
        height: 232px;
        width: 232px;
        background-image: url("../images/love.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type6 {
        display: none;
    }

    section#humor {

        >div {
            display: grid;
            grid-template-columns: repeat(4, 270px);
        }
    }
}

/* Notebooks e telas full HD ou superior */
@media (min-width: 1200px) {
    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;
    }

    .music-type5 {
        height: 232px;
        width: 232px;
        background-image: url("../images/party.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type6 {
        display: none;
    }

    main #hero .modern-studio {
        width: 45%;
    }

    main #hero .modern-studio h1 {
        font-size: 4.5em;
    }

    section div.banner picture {
        display: flex;
        flex-wrap: wrap;
    }

    div.banner>picture img {
        cursor: pointer;
        width: 240px;
        height: initial;
        padding: 0.5em;
    }

    main #hero picture {
        width: initial;
        justify-content: center;
        overflow: hidden;
    }
}

@media (min-width: 1300px) {
    section#new div#grid-eletro {
        margin-left: 6%;
        display: grid;
        grid-template-columns: repeat(4, 270px);
    }

    section#new div#grid-eletro img {
        height: 250px;
    }

    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;
    }

    .music-type5 {
        height: 232px;
        width: 232px;
        background-image: url("../images/party.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music-type6 {
        display: none;
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 290px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 280px;
        height: initial;
        padding: 0.5em;
    }
}

@media (min-width: 1440px) {
    section#humor {
        display: grid;
        grid-template-columns: 236px;
        margin-left: 10%;
        margin-bottom: 1.5em;
    }

    .music-type6 {
        height: 232px;
        width: 232px;
        background-image: url("../images/love.png");
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section div.banner picture {
        display: flex;
        flex-wrap: wrap;
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 200px;
        height: initial;
        padding: .5em;
    }


    main #hero picture {
        width: initial;
        justify-content: center;
        overflow: hidden;
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 330px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 314px;
        height: initial;
        padding: 0.5em;
    }
}

@media(min-width: 1430px) {
    section#new div#grid-eletro img {
        height: 286px;
    }

    section#new div#grid-eletro {
        margin-left: 6%;
        display: grid;
        grid-template-columns: repeat(4, 300px);
    }

    section#humor {

        >div {
            display: grid;
            grid-template-columns: repeat(5, 236px);
        }
    }
}

/* Extralarge - Ex: Ultrawide, iMacPro ou telas acima de 23" */
@media (min-width: 1600px) {
    section#new div#grid-eletro {
        margin-left: 6%;
        display: grid;
        grid-template-columns: repeat(4, 340px);
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 360px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 360px;
        height: initial;
        padding: 0.5em;
    }

    main #hero .button-group button {
        background-color: #9c44d7;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        padding: 1.4em 4em;
        color: #fff;
    }

    section#mix-card ul li img {
        width: 210px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.6;
    }

}

@media (min-width: 1800px) {
    section#new div#grid-eletro {
        margin-left: 6%;
        display: grid;
        grid-template-columns: repeat(4, 406px);
    }

    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 420px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 420px;
        height: initial;
        padding: 0.5em;
    }

    main #hero .button-group button {
        background-color: #9c44d7;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        padding: 1.4em 4em;
        color: #fff;
    }

    section#mix-card ul li img {
        width: 244px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.6;
    }

}

@media (min-width: 2100px) {
    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 480px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 466px;
        height: initial;
        padding: 0.5em;
    }

    main #hero .button-group button {
        background-color: #9c44d7;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        padding: 1.4em 4em;
        color: #fff;
    }

    section#mix-card ul li img {
        width: 290px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.6;
    }

}

@media (min-width: 2400px) {
    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 540px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 530px;
        height: initial;
        padding: 0.5em;
    }

    main #hero .button-group button {
        background-color: #9c44d7;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        padding: 1.4em 4em;
        color: #fff;
    }

    section#mix-card ul li img {
        width: 336px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.6;
    }

}

@media (min-width: 2600px) {
    #carousel {
        display: grid;
        grid-template-columns: repeat(4, 600px);
    }

    section div.banner>picture img {
        cursor: pointer;
        width: 590px;
        height: initial;
        padding: 0.5em;
    }

    main #hero .button-group button {
        background-color: #9c44d7;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        padding: 1.4em 4em;
        color: #fff;
    }

    section#mix-card ul li img {
        width: 360px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.6;
    }

}